<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Course Index</title>
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static 'manage_courses/style.css' %}">
</head>
<body>
    <div id="wrapper">
        <div id="create">
            <h1>Add a new course</h1>
            <form action="/create" method="POST">
            {% csrf_token %}
            <span class="input">Name:</span> <input type="text" name="name"> <br>
            <span class="input">Description:</span> <input type="text" name="desc"> <br>
            <input type="submit" value="Add Course">
            </form>
        </div>
        <div id="catalog">
            <h2>Courses</h2>
            <table>
                <tr>
                    <th>Course Name</th>
                    <th>Description</th>
                    <th>Date Added</th>
                    <th>Actions</th>
                </tr>
                {% for course in courses %}
                <tr>
                    <td class="small">{{course.name}}</td>
                    <td class="small">{{course.desc}}</td>
                    <td class="small">{{course.created_at}}</td>
                    <td class="small"><a href="/remove/{{course.id}}">Remove</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>
</html>