#wrapper {
    width: 800px;
    margin: 0 auto;
    font-family: sans-serif;
}

#create {
    width: 400px;

}

.input {
    display: inline-block;
    width: 100px;
    margin: 5px;
}

input {
    display: inline-block;
    width: 200px;
}

input:last-child {
    width: 100px;
    margin: 10px 220px;
}

#catalog {
    margin: 50px 0;
    border: 1px solid #474747;
    
}

#catalog th td {
    padding: 0 40px;
    text-align: left;
}

#catalog th:first-child {
    padding-left: 0px;
}

.small {
    font-size: .8em;
    text-align: left;
}